	<footer class="footer">
		<div class="full">
			<div class="footer__wrap">
				<a href="#" class="footer__logo"><img src="i/footer__logo.png" alt="Fastchange.pro"></a>
				<div class="footer__copyright">© 2017, FastChange.pro — единый обмен валюты</div>
				<nav class="footer__nav">
					<a href="#" class="footer-nav__item">Правила обмена</a>
					<a href="#" class="footer-nav__item">Партнерам</a>
					<a href="#" class="footer-nav__item">Новости</a>
					<a href="#" class="footer-nav__item">FAQ</a>
					<a href="#" class="footer-nav__item">Контакты</a>
				</nav>
			</div>
		</div>
	</footer>
	<div class="general-notice general-notice--error">
		<div class="full">
			<div class="general-notice__wrap">
				Ошибочное действие
				<a href="#" class="general-notice__close"></a>
			</div>
		</div>
	</div>
	<div class="general-notice general-notice--success">
		<div class="full">
			<div class="general-notice__wrap">
				Успешное действие
				<a href="#" class="general-notice__close"></a>
			</div>
		</div>
	</div>
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
	<!--
	пример вызова окна ошибки, разметка выше. При деплое удалить
	<a href="#" class="js-general-notice-error">Вызвать сообщение об ошибке</a>
	<script>
		(function($){
			$('.js-general-notice-error').click(function(e) {
				e.preventDefault();
				$('.general-notice--error').addClass('general-notice--active');
			});
			$('.general-notice__close').click(function(e) {
				e.preventDefault();
				$(this).closest('.general-notice').removeClass('general-notice--active');
			});
		})(jQuery);
	</script>
	-->
</body>
</html>