	<footer class="footer">
		<div class="full">
			<div class="footer__wrap">
				<a href="#" class="footer__logo"><img src="i/footer__logo.png" alt="Fastchange.pro"></a>
				<div class="footer__copyright">© 2017, FastChange.pro — единый обмен валюты</div>
				<nav class="footer__nav">
					<a href="#" class="footer-nav__item">Правила обмена</a>
					<a href="#" class="footer-nav__item">Партнерам</a>
					<a href="#" class="footer-nav__item">Новости</a>
					<a href="#" class="footer-nav__item">FAQ</a>
					<a href="#" class="footer-nav__item">Контакты</a>
				</nav>
			</div>
		</div>
	</footer>
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>