<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FastChange.pro</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/plugins.css">
</head>
<body>
	<header class="header">
		<div class="header__rates">
			<div class="full">
				<div class="header-rates__wrap">
					<div class="header-rates__item">1 USD = 62.87 RUB</div>
					<div class="header-rates__item">1 BTC = 157500.8271 RUB</div>
					<div class="header-rates__item">1 ETH = 12497.9233 RUB</div>
					<div class="header-rates__item">1 LTC = 3034.1574 RUB</div>
					<div class="header-rates__item">1 DSH = 10665.0781 RUB</div>
					<div class="header-rates__item">1 NVC = 42.0098 RUB</div>
				</div>
			</div>
		</div>
		<div class="full rel">
			<a href="#" class="header__logo">
				<img src="i/header__logo.png" alt="">
				<span class="header__logo-name">Fastchange</span>
				<span class="header__logo-zone">pro</span>
			</a>
			<div class="header__phone">
				<a href="tel:+78007077649" class="header__phone-number">8 (800) 707-76-49</a>
				<p class="header__phone-descr">10:00 - 23:00, ежедневно (мск)</p>
			</div>
			<div class="header__contacts">
				<p class="header-contacts__jabber"><a href="xmpp:cashbank@jabber.ru?message">cashbank@jabber.ru</a></p>
				<p class="header-contacts__tg"><a href="tg://resolve?domain=cashbank_bot">@cashbank_bot</a></p>
			</div>
			<a href="#" class="header__cabinet-link">Мой кабинет</a>
			<!--
			<div class="header__cabinet">
				Михаил
				<a href="#" class="header__cabinet-logout">Выйти</a>
			</div>
			-->
		</div>
	</header>